menu "RTC"
	menu "RV-8263-C7 RTC Driver"
		choice
			prompt "I2C port"
			default I2C_RV2863_0_ENABLED

			config I2C_RV2863_0_ENABLED
				bool "Enable I2C port 0"
			config I2C_RV2863_1_ENABLED
				bool "Enable I2C port 1"
		endchoice

		config EPOCH_YEAR
			int "EPOCH Year"
			default 1900
			help
				The Year where the EPOCH started
		config TIME_ZONE
			int "Time Zone"
			default 1
			help
				Adjust according to GMT
	endmenu
endmenu
